body {
  background: #222;
  color: #CCC;
}

#container {
  position: absolute;
  top: 30%;
  left: 40%;
}

#box {
  background: #444;
  padding: 8px;
  font-family: sans-serif;
  font-size: 16px;
  border: 2px solid #CCC;
  margin-bottom: 5px;
}

select {
  background: #444;
  color: #CCC;
  border: 2px solid #CCC;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 16px;
  padding-left: 4px;
}
